body {
  background: #e3e7e7;
  color: darkred;
  margin: 0 0 0 18pt;
  font-family: Monaco, monospace;
  font-size: 13pt;
  animation: colorAnimation 5s linear infinite;
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}


a {
    color:darkred;
    text-decoration:none;
}

#main {
    padding-top:18px;
    width:70%;
}

#main div {
    font-weight:normal;
    padding-bottom:50px;
}

#info {
    top:0;
    right:0;
    bottom:0;
    position:absolute;
    height:100%;
    width:25%;
    color:black;
    background-image: url("flag.JPG");
    background-color: darkred;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    margin-left:6px;
    border-left:thin #000 solid;
    border-bottom:thin #000 solid;
    padding:9px;
    font-size:80%
}

.sketch {
  position: absolute;
  top: 0;
  margin-left: 200px;
  z-index: 1;
}
